body {
    font-family: 'Libre Franklin', Roboto, sans-serif;
    font-weight: 300;
}

.nav-link:hover {
    font-weight: 500;
}

.nav-link {
    font-size: 1.2rem;
}

h1 {
    font-weight: bold;
}


.about, .about-link:hover {
    color: #682767;
}

.services, .services-link:hover {
    color: #ce0e2d;
}

.activities, .activities-link:hover {
    color: #ee7623;
}

.contact, .contact-link:hover {
    color: #234e9d;
}

footer {
    height: 4rem;
}